{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{ item.total_cost }}</p>
        </div>
      </div>
    {% endfor %}
    <p class="fw-bold">Total Cost + Rs.70= {{totalamount}}</p>
    <small>Term and Condition: If you are running an ecommerce site with a lot of product pages, it can be a full-time job making sure that all the information is accurate. It’s one of the most likely errors that will occur in your online store, so it opens the door to a lot of customer service issues. For this reason, it’s very important that you stipulate that information can sometimes be inaccurate and change without notice.

      This section should mention that despite your best efforts, on-site information might not be up-to-date and that certain information (e.g., prices, product descriptions, stock quantities) may change without notice.
      
      Below is an extract from clothing retailer H&M’s T&C section on information accuracy:</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone">
      {% for ad in add %}
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}}, {{ ad.city }}, {{ad.state}} - {{ ad.zipcode }}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid", id="custadd{{forloop.counter}}" value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="">
            Address: {{forloop.counter}} </label>
        </div>
        {% endfor %}
        <div class="text-end">
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
        </div>
        
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}